version: "3.9"
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/formsdb
    depends_on:
      - db

  frontend:
    build: ./frontend/frontend
    ports:
      - "5173:5173"

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: formsdb
    ports:
      - "5432:5432"
