services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
    - "3000:80"

  postgres:
    build:
      context: ./database
      dockerfile: Dockerfile
    image: db:latest
    container_name: postgres_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
    - "${POSTGRES_PORT}:5432"
    volumes:
    - postgres_data:/var/lib/postgresql/data
    - ./database/init:/docker-entrypoint-initdb.d:ro

volumes:
  postgres_data: