name: Docker Compose CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v3

      - name: Start containers with Docker Compose
        run: docker compose -f "docker-compose.yml" up -d --build

      - name: Stop containers
        if: always()
        run: docker compose -f "docker-compose.yml" down