name: Docker Compose CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Create SSL files from GitHub Secrets
        env:
          SSL_CERT_CONTENT: ${{ secrets.NGINX_CRT }}
          SSL_KEY_CONTENT: ${{ secrets.NGINX_KEY }}
        run: |
          echo "Creating SSL directory and files..."
          mkdir -p ./ssl
  
          echo "$SSL_CERT_CONTENT" > ./ssl/nginx.crt
          echo "$SSL_KEY_CONTENT" > ./ssl/nginx.key

          chmod 600 ./ssl/nginx.key

      - name: Start containers with Docker Compose
        run: docker compose -f "docker-compose.yml" up -d --build

      - name: Stop containers
        if: always()
        run: docker compose -f "docker-compose.yml" down

      - name: Check frontend HTML for logo_etu.png
        run: |
          # Ждем доступность фронтенда (макс 30 сек)
          echo "Waiting for frontend starting..."

          timeout=30
          elapsed=0
          while ! curl -f -s -o /dev/null -k http://localhost; do
            sleep 2
            elapsed=$((elapsed + 2))
            if [ $elapsed -ge $timeout ]; then
              echo "Frontend did not started for $timeout seconds"
              exit 1
            fi
            echo "Try connection... ($elapsed сек.)"
          done

          echo "Frontend work correctly, check HTML..."

          html_content=$(curl -s -k http://localhost)

          if [ -z "$html_content" ]; then
            echo "Pages HTML is empty!"
            exit 1
          fi

          if [[ ! "$html_content" =~ \<html ]] || [[ ! "$html_content" =~ \<body ]]; then
            echo "HTML do not have basic tags (html/body)"
            exit 1
          fi

          if [[ "$html_content" =~ logo_etu\.png ]]; then
            echo "Found: logo_etu.png in HTML"

          else
            echo "TOTAL ERROR: HTML do not has logo_etu.png !"
            echo "--- Start HTML for debug ---"
            echo "$html_content" | head -20
            echo "--- End of HTML ---"
            exit 1
          fi

          title=$(echo "$html_content" | grep -o '<title>[^<]*</title>' | sed 's/<title>//;s/<\/title>//')
          if [ -n "$title" ]; then
            echo "Title of page: $title"
          fi

          echo ""
          echo "HTML Stats:"
          echo "All checkpoints have been completed! Frontend work correctly."